i.icon.icon-form-name {
    width: 24px;
    height: 24px;
    background-image: url("../img/i-form-name-material.svg");
}

i.icon.icon-form-password {
    width: 24px;
    height: 24px;
    background-image: url("../img/i-form-password-material.svg");
}

i.icon.icon-form-email {
    width: 24px;
    height: 24px;
    background-image: url("../img/i-form-email-material.svg");
}

i.icon.icon-form-calendar {
    width: 24px;
    height: 24px;
    background-image: url("../img/i-form-calendar-material.svg");
}

i.icon.icon-form-tel {
    width: 24px;
    height: 24px;
    background-image: url("../img/i-form-tel-material.svg");
}

i.icon.icon-form-gender {
    width: 24px;
    height: 24px;
    background-image: url("../img/i-form-gender-material.svg");
}

i.icon.icon-form-toggle {
    width: 24px;
    height: 24px;
    background-image: url("../img/i-form-toggle-material.svg");
}

i.icon.icon-form-comment {
    width: 24px;
    height: 24px;
    background-image: url("../img/i-form-comment-material.svg");
}

i.icon.icon-form-settings {
    width: 24px;
    height: 24px;
    background-image: url("../img/i-form-settings-material.svg");
}

i.icon.icon-form-url {
    width: 24px;
    height: 24px;
    background-image: url("../img/i-form-url-material.svg");
}

i.icon.icon-restaurant {
    width: 24px;
    height: 24px;
    background-image: url("../img/ic_restaurant_black_24px.svg");
}
i.icon.icon-add {
    width: 24px;
    height: 24px;
    background-image: url("../img/ic_add_circle_black_24px.svg");
}
i.icon.icon-odd {
    width: 24px;
    height: 24px;
    background-image: url("../img/ic_indeterminate_check_box_black_24px.svg");
}
i.icon.icon-cart {
    width: 24px;
    height: 24px;
    background-image: url("../img/ic_add_shopping_cart_white_24px.svg");
}
input.center {
    text-align: center;
    font-size: 38px !important;
} 

.button-circle{
    border-radius: 4%
}